* {
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}
.navboxes {
  width: 40%;
  height: 200px;
}
.navboxes img {
  width: 100px;
  height: 100px;
  margin-left: auto;
  display: inline-block;
  object-fit: cover;
}
.navitems {
  display: inline-block;
}
main {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}
.classcompo {
  width: 90%;
  height: fit-content;
  color: white;
  background-color: blue;
  border: 3px solid black;
  padding: 15px;
  box-sizing: border-box;
}
.event {
  width: 90%;
  height: fit-content;
  background-color: black;
  color: white;
}
.event button {
  background-color: yellow;
  color: black;
  border: none;
  padding: 15px;
  text-align: center;
}


/*@media (max-width: 800px) {.hourly h5 {font-size: 14px;}}*/
